.searchInput{
  padding: 0.6rem;
  width: 100%;
  border-radius: 8px;
  border: 0.09rem solid #c7c7c7;
  width: 22rem;
  height: 2.8rem;
  font-weight: 900;
  font-size: 1.1rem;
}

.searchInput:focus{
  outline: none;
}