:root{
  --bg-color: #F5F5F5;
  --text-visited: #b1b2b3;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: var(--bg-color);
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

a, a:visited{
  text-decoration-line: none;
}

main {
 width: 100%;
 display: flex;
 justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
}